Package: com.michael.handprint
Name: HandPrint
Depends: firmware (>= 13.0), mobilesubstrate
Version: 0.6.0
Architecture: iphoneos-arm
Description: Enable native X gesture for your iPhone!
Maintainer: Halo_Michael <yc992147156@me.com>
Author: Halo_Michael <yc992147156@me.com>
Section: Tweaks
